$primary-colour: #4b88a2;
$primary-colour-dim: #0a969b;
$primary-colour-red: #bb0a21;
$secondary-colour: #49ff11;
$alert-colour: #f03;
$warning-colour: yellow;
$success-colour: green;

$grey: #d3d4d9;
$light-grey: #f1f1f1;
$medium-grey: #050505;
$dark-grey: #333333;


